swig
cryptography
langchain==0.1.16
langchain-community==0.0.34
langchain-experimental==0.0.25
langchain-google-genai==1.0.3
protobuf==4.25.3
python-dotenv==1.0.0
streamlit==1.33.0
tiktoken==0.4.0
mysql-connector-python
pymysql
sentence-transformers
chromadb
faiss-cpu==1.7.4