body {
    background-color: #f0f0f0;
    /* Light gray background */
    color: #333;
    /* Dark text color */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    /* Horizontally center */
    align-items: center;
    /* Vertically center */
    min-height: 100vh;
    /* Ensure full viewport height */
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    /* Dark title color */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center form items */
    margin-bottom: 20px;
}

input[type='text'] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 2px solid #007bff;
    /* Blue border for input */
    border-radius: 4px;
    outline: none;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
    /* Add transition for border color */
}

input[type='text']:focus {
    border-color: #0056b3;
    /* Darker blue border on focus */
}

button[type='submit'] {
    padding: 10px 20px;
    background-color: #007bff;
    /* Blue button background */
    color: #fff;
    /* White button text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Add transition for background color */
}

button[type='submit']:hover {
    background-color: #0056b3;
    /* Darker blue on hover */
}

.result {
    background-color: #fff;
    /* White background for result container */
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 100px;
    /* Fixed height for result container */
}

.result h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
    /* Dark title color */
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* Adjust height as needed */
}

.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    /* Border effect */
    border-top: 4px solid #6f00ff;
    /* Loader color */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    /* Rotation animation */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}